@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* ------------------------------------- Header styles */

* {
  box-sizing: border-box;
}

#header {
  background-color: rgba(0, 0, 255, 0.3);
  align-items: start;
}

body {
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
  justify-content: center !important;
}

section {
  width: 100%;
  text-align: center;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex;
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Pacifico", cursive;
}

.mr-auto {
  margin-right: auto !important;
}

#header .logo a {
  color: #f18973;
  text-decoration: none;
  background-color: transparent;
}

.getaquote-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 25px;
  border: solid 2px #333333;
  border-radius: 8px 8px 8px 8px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: auto;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background: #106eea;
}

.opaque-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}
#home {
  margin: 0px;
  padding: 0px;
}

#home h1 {
  margin: 0;
  font-weight: 700;
  color: orange;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

#home h2 {
  color: #fff;
  margin: 5px 0 30px 0;
  font-weight: 300;
  text-align: left;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

#home a {
  text-decoration: none;
}

/* ------------------------------------- Destination page */

#home-destination {
  height: 100vh;
  position: relative;
  text-align: center;
  /* background: url(../img/luggage.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.finder-col {
  border-style: solid;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  padding: 0;
}

.map-col {
  margin-right: 0;
  border-style: solid;
  width: 100%;
  height: 95vh;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background: url(../img/map-vacation.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-col-suggestions {
  margin-right: 0;
  width: 100%;
  height: 95vh;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background: url(../img/beach.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map-col-index {
  margin-right: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background: url(../img/maldives.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map-col-contact {
  margin-right: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background: url(../img/mail-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#locationField {
  width: 90%;
  justify-items: center;
}

#reset {
  margin: 0px;
  padding: 0px;
}

/* ------------------------------------- Jumbotron styles */

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.jumbotron-finder {
  background-color: #fff8dc;
  height: 280px;
  width: 70%;
  border-radius: 8px;
}

#p1,
#p2,
#p3 {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 300;
  font-family: "Pacifico", cursive;
  font-size: 1.25rem;
}

#timer {
  display: flex; /* or inline-flex */
  color: red;
  justify-content: center;
}

/* ------------------------------------- Footer styles */

footer {
  display: block;
  height: 125px;
}

#footer {
  background: #02457a;
  color: #f8f8ff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: auto;
}

.copyright {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: -10px;
  font-family: "Poppins", sans-serif;
}

/* Google places results */

#right-panel select,
#right-panel input {
  font-size: 25px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 5;
  /* border: 1px solid #999;*/
  background: rgb(221, 105, 105);
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 22px;
  margin: 0 0 0px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  overflow-y: scroll;
  text-align: left;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  overflow: hidden;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

#more {
  width: 100%;
  margin: 5px 0 0 0;
}

/* Info content*/
.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

#results-heading {
  background-color: rgb(221, 105, 105);
}

/*-------------------buttons------------------*/

.btn-main-sections {
  margin-top: 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 23px;
  width: 160px;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-finder {
    width: 80px;
}

.btn-main-sections-suggestions {
  margin-top: 15px;
  font-weight: 400;
  border-radius: 23px;
  width: 50px;
}

.btn-navegation-sections {
  background-color: #00ca4e;
  border-color: #00ca4e;
}

.btn-main-sections:hover,
.btn-main-sections:active,
.btn-main-sections:focus,
.btn-main-sections:active:focus:visited {
  background-color: #d3b3ac;
  border-color: #d3b3ac;
}

.lead {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}



.center-button {
  text-align: center !important;
}

/* Suggestions page */

#autocomplete {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#controls select {
  font-family: "Poppins", sans-serif !important;
}

#suggested-places {
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../img/beach.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#suggested-places-map {
  height: 100vh;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.card {
  overflow: auto;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 80%;
}

.card-body {
  background-color: rgb(255, 248, 220, 0.9) !important;
  height: 40% !important;
}

.special-card {
  /* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

  background-color: rgba(245, 245, 245, 1);
  opacity: 0.4;
}

.row-destinations {
  height: 100vh;
}

/*.border {
    border: solid 10px red!important;
}*/

.center-div-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 30rem;
  width: 90%;
}

.titles {
  font-size: 2rem;
  text-align: center;
  color: orange;
  font-family: "Pacifico", cursive;
}

.row-suggestions {
  height: 100%;
}

.section-title {
  margin-bottom: 20px;
}

/* Contact form */

#contact-form {
  height: 100vh;
  position: relative;
  text-align: center;
  background: url(../img/email.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.transparentbox {
  opacity: 0.75;
  background-color: black;
  z-index: 2;
  position: relative;
  display: flex;
  align-content: center;
  margin-left: 20px;
  padding: 0px;
  margin: 0px;
}

.transparentboxdiv {
  margin-top: 50px;
  color: black;
  z-index: -2;
  font-weight: bold;
  justify-content: center;
  padding: 0px;
}

.transparentboxdiv h3 {
  margin-top: 20px;
  font-family: "Pacifico", cursive;
}

.section-title h3 {
  margin-top: 30px;
  font-family: "Pacifico", cursive;
  color: orange;
  margin-bottom: 0px;
  font-size: 30px;
}

.jumbotron-contact {
  background-color: #fff8dc;
  height: auto;
  width: 80%;
  border-radius: 80px;
}

.justify-content-center {
  align-items: center;
  justify-content: center !important;
  margin: 0px;
}

/* ------------------------------------- Contact page styles */

#contact {
  background-color: #ececec;
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: cover;
  padding: 0px;
  overflow: hidden;
}

#contact span,
p {
  text-align: center;
}

#contact a {
  color: #f8f8ff;
  text-decoration: none;
}

.jumbotron-form {
  background-color: #fff8dc;
  height: 100%;
  width: 70%;
  border-radius: 80px;
}

.container-form {
  width: 50% !important;
  height: 100%;
  background-color: rgb(255, 248, 220, 0.9);
  align-items: center;
  justify-content: center !important;
  margin-top: 20px;
  border-radius: 80px;
}

.needs-validation {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  height: auto;
}

.form-group {
  margin-left: 20px;
  margin-right: 20px;
}

select {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 986px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .card {
    height: 90%;
    width: auto;
  }

  #contact-form {
    height: 140vh;
  }
}

@media (max-width: 450px) {
  .map-col-contact {
    height: 120vh;
  }
}

@media (max-width: 320px) {
  #home h1 {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .map-col-index {
    height: 120vh;
  }
}

@media (max-width: 850px) {
  .map-col-suggestions {
    height: 160vh;
  }
}

@media (max-width: 540px) {
  .map-col-suggestions {
    height: 160vh;
  }
}


@media (max-width: 375px) {
  .map-col-suggestions {
    height: 180vh;
  }
}

@media (max-width: 320px) {
  .map-col-suggestions {
    height: 225vh;
  }

  .section-title {
    margin-top: 25px;
  }

  .map-col-contact {
    height: 140vh;
  }
}

.icons {
  font-size: 60px;
  color: orange;
}

.log {
  font-size: 14px;
  color: orange;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

#calling {
  margin-top: 50px;
  margin-left: 50px;
}

.prices {
  color: red;
  font-weight: 800!important;
  font-size: 18px;
}

.including {
  font-size: 24px;
}

.lead-suggestions {
  margin: 0px;
  padding: 0px;
}

.lead-finder {
  margin-top: 40px;
}

.lead-finder-search {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center!important;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  #show-results{ display: block;
  margin-top:0px;
  margin-right: 5px;  }  /* show it on large screen */
   #reset{ display: block;
   margin-left: 5px; } 
   .jumbotron-finder {
  margin-top: -50px;}
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
   #show-results{ display: none; }
}